<html lang="">
{% extends 'customer/base.html' %}

{% block content %}

<div class="w3-container w3-card-4 w3-light-grey" style="max-width: 600px; margin: auto; margin-top: 50px;">
  <div class="w3-display-container" style="height: 500px;">
    <div class="w3-display-middle">
      <h2 style="color: blue"><b>Car Dealer Login </b></h2>
      <form class="w3-container" action="/car_dealer_portal/auth/" method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input class="w3-input" type="text" name="username"><br><br>
        <label>Password</label>
        <input class="w3-input" type="password" name="password"><br><br>
        <input class="w3-btn w3-green" type="submit" value="Login"><br><br>
        <a href="#" onclick="login.pass_reset();">Forgot password?</a> | <a href="/car_dealer_portal/contact/">Need help?</a>
      </form><br><br>
      <div class="w3-container">
         <a class="w3-btn w3-blue" href="/car_dealer_portal/register/">Register as Dealer</a>
        <a class="w3-btn w3-teal" href="/">Home</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
</html>