<html lang="">
{% extends 'customer/base.html' %}
{% block content %}
{% load static %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">ACCOUNT USER:<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
</svg> {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/manage/">Manage</a>
      <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/view_profile/">View Profile</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/edit_profile/">Edit Profile</a>
</div>

<div class="w3-container w3-center w3-large" style="padding:20px;">Welcome Traveller, You shall drive the car of your dreams!</div>

<div class="w3-display-container w3-center" style="height:500px;padding:20px;">
<img src="{% static 'images/car-pics.jpg' %}" alt="">
<div class="w3-display-middle">
<a class="w3-btn w3-red w3-xlarge" href="/customer_portal/search/"><b>Search for Rental Cars</b></a>
</div>
</div><br><br><br>
 <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>&copy; 2024 Eston Kiama. All rights reserved.</p>
  </footer>
{% endblock %}
</html>