<html lang="">{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">ACCOUNT USER: <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
</svg>{{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/logout/">Logout</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/search/">Search Cars</a>
    <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/auth/">Home</a>

</div>
<h3 class="w3-center" style="padding-top:20px"><b>Your Orders</b></h3>
<div class="w3-center" style="padding:50px;">
<table class="w3-table w3-striped w3-center">


  <tr>
    <th>Car</th>
    <th>Days</th>
    <th>Rent</th>
    <th>Capacity</th>
    <th>Description</th>
    <th>Pincode</th>
    <th>Action</th>
  </tr>
  {% for order in od %}
  <tr>
    <td>{{order.vehicle.car_name}}</td>
    <td>{{order.days}}</td>
    <td>Ksh{{order.rent}}</td>
    <td>{{order.vehicle.capacity}} Seats</td>
    <td>{{order.vehicle.description}}</td>
    <td>{{order.vehicle.area.pincode}}</td>
    <td>
      <form action = "/customer_portal/delete/" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{order.id}}">
      <input class="w3-btn w3-red" type="submit" value="Delete">
    </form>

  </td>
  </tr>

{% endfor %}
</table>
</div>
{% endblock %}
</html>